body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
footer {
  position:fixed;
  bottom:10px;
}
.banner-logo {
  max-height:100%;
  width:auto;
  padding:0;
  margin:0;
}